{% extends "base/base.html" %}

{% block title %}
HOME
{% endblock %}

{% block content %}
<h1>PLANIFICACIÓN DE UNA ACTIVIDAD</h1>
<main>

    <article id="intro">
      <header>
        <h2>Somos el equipo 2</h2>
      </header>
      <p>Presentamos la visualización del siguiente formulario de planificación.</p>
    </article>

    <article id="integrantes">
        <header>
          <h2>Integrantes</h2>
        </header>
        <p>Chambi Colque, Lee Alexander</p>
        <p>Cortéz Cirilo, Gianmarco Axel</p>
        <p>Marcos Vilca, Miguel Antony</p>
      </article>

    <article id="main-content">
      <header>
        <h2>¿Qué es la Planificación?</h2>
      </header>
      <p>La planificación consiste en el efecto o la acción de estructurar un plan estableciendo sus etapas, medios, actividades y procedimientos que deben emplearse durante la ejecución de un proyecto.
        
        Así pues, la planificación define el presente y predice qué situaciones pueden ocurrir en el futuro. Para que el plan sea exitoso, debemos tener en cuenta cuestiones como dónde, por qué, cómo, cuánto y cuándo.</p>
    </article>

{% endblock %}